<div class="px-4 py-5 my-5 text-center">
  <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  {% if session.logged_in %}
    <h1 class="display-5 fw-bold text-capitalize">Welcome {{ session.username }}</h1>
  {% endif %}    
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-capitalize fw-bold">Choose One of Available Classes Below to take Attendance</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Take</button> -->
      <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
    </div>
  </div>
</div>