<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home_page')}}">Attendance System</a>
    <!-- Toggle For Small Screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {% if session.is_admin == 'Y' or  session.is_teacher == 'Y' %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('majors')}}">Majors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('classes')}}">Modules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('groups')}}">Groups</a>
        </li>
        {% if session.is_admin =='Y'%}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('users')}}">Users</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('halls')}}">Halls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('schedule')}}">Schedule</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Attendance Reports
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('attendancerep')}}">Participants Report</a>
            </li>
          </ul>
        </li>        
        {%endif%}
      </ul>
      <!-- For user -->
      <span class="d-flex"> 
        {% if session.logged_in %}
        <a href="#" class="nav-link active fw-bold text-light" >User: {{session.username}}</a>
        <a href="{{url_for('logout')}}" class="nav-link active fw-bold text-light" >Logout</a>
        {% endif %}
      </span>
    </div>
  </div>
</nav>
