{% extends 'base.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block css %}  
<style>
.bdr {
  border-radius: 6px;
  overflow: hidden;
}
</style>
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<div class="tbl-container bdr">
<table class="table table-striped rounded-2" >
  <thead>
    <tr class="text-light" style="background-color: #212529;">
      <th style="text-align: center;">sn</th>
      <th style="text-align: center;">Student Name</th>
      <th style="text-align: center;">Year</th>
      <th style="text-align: center;">Date</th>
      <th style="text-align: center;">Time</th>
      <th style="text-align: center;">Module Name</th>      
    </tr>
  </thead>
  <tbody>
    {% if data %}
    {% for row in data %}
    <tr>
      <td style="text-align: center;">{{row.row_num}}</td>
      <td style="text-align: center;">{{row.username}}</td>
      <td style="text-align: center;">{{row.year}}</td>
      <td style="text-align: center;">{{row.date}}</td>
      <td style="text-align: center;">{{row.time}}</td>
      <td style="text-align: center;">{{row.modname}}</td>      
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
{% endblock %}
