<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">  
  <title>
    {% block title %}
    {% endblock %}
  </title>  
  <!-- Favicon replacment -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> 
  
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css')}}"> -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- <link href="{{ url_for('static', filename='css/global.css')}}" rel="stylesheet"> -->
  <!-- <link href="{{ url_for('static', filename='css/sidebars.css')}}" rel="stylesheet"> -->
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }    
  </style>     
   
  {% block css %}
  {% endblock %}  

</head>
<body>    
  <main>
    {% include 'includes/_navbar.html' %}      
    
  
  <div class="container"> 
    {% include 'includes/_messages.html' %}    
   
    {% block hero %}{% endblock %} 
    {% block classList %}{% endblock %}
    {% block content %}{% endblock %} 
    
  </div> 

  </main>
  
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <!-- <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/sidebars.js')}}"></script> 
  <script src="{{ url_for('static', filename='js/global.js')}}"></script>  -->

  <!-- Future Javascript files -->
  {% block javascript %}  
  {% endblock %}  
</body>

</html>