{% extends 'base.html' %}
{% from "includes/_macros.html" import draw_card %}

{% block title %}
  {{title}}
{% endblock %}

{% block css %}  
{% endblock %}

{% block hero %}
  {% include 'includes/_hero.html' %}    
{% endblock %} 

{% block classList %}
 <div class="row">
  {{draw_card('img/firstclass.jpg', "Class one", "This is some text", "1")}}
  {{draw_card('img/firstclass.jpg', "Class two", "This some text to desc", "1")}}
  {{draw_card('img/firstclass.jpg', "Class three", "This some text to desc", "1")}}
  {{draw_card('img/firstclass.jpg', "Class four", "This some text to desc", "1")}}
 </div>
{% endblock %}
