{% extends 'base.html' %} 

{% block title %} {{title}} {% endblock %} 

{% block css %} 
<style>
  @media only screen and (max-width: 768px) {
    #webcam{
      width:400px;
      height:300px;
    }
  }
</style>
{% endblock %} 

{% block content %}
<div
  class="alert alert-warning alert-dismissible fade show"
  style="margin-top: 5rem"
  role="alert"
>
  Please Make Sure your face is close to the camera,  
   And make sure you stand at the same spot as the professor/teacher 's  device
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{% if classData %}
<div class="takeattendance" style="margin-top: 5rem">
  <div class="camera d-flex flex-column align-items-center">
    <input type="hidden" id="class_id" value="{{ classData.id }}">
    <h1 class="mb-4">Take Attendance for <u>{{ classData.name }}</u>  Class </h1>
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" class="d-none"></canvas>
    <button
      id="takePictureBtn"
      type="button"
      class="btn btn-primary btn-lg px-4 gap-3 mt-2"
    >
      Capture And Submit
    </button>
  </div>
</div>
{% endif %}
{% endblock %} 

{% block javascript %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/webcam-easy.min.js')}}"
></script>
<script>
  // Global Variables
  const webcamElement = document.getElementById('webcam');
  const canvasElement = document.getElementById('canvas');
  const classID = document.getElementById('class_id');
  const webcam = new Webcam(webcamElement, 'user', canvasElement);

  // Start webcam
  webcam.start()
    .then(result => {
      console.log("webcam started");
    })
    .catch(err => {
      console.log(err);
    });

  document.querySelector("#takePictureBtn").addEventListener('click', () => {
    // Take Picture and store the base64 in variable
    let picture = webcam.snap();    
    const classIDVal = classID.value;    
    const newUrl = `${window.origin}/faceauth`;
    const data = { picture, classIDVal };

    // checkSamePerson(picture);

 // Send picture to server and check if the same person
 async function checkSamePerson(picture) {
      // Default options are marked with *
      const response = await fetch(newUrl, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.          
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data), // body data type must match "Content-Type" header
      });

      const parsedResponse = await response.json(); // parses JSON response into native JavaScript objects
      const { isSamePerson, classData } = parsedResponse;            

      if (isSamePerson == "True") {        
        // Stop And hide camera
        webcam.stop()
        webcamElement.style.display = "None"
        canvasElement.style.display = "None"
        document.querySelector("#takePictureBtn").style.display = "None"

        // Get Location Info
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            flash("Geolocation is not supported by this browser., Please Allow Location Access and make sure to use Google Chrome", "danger");
          }
        }

        // Get exact location and use the info for validating location
        function showPosition(position) {
          const lat = position.coords.latitude
          const long = position.coords.longitude          
          const marginError = 2
          
          console.log(`DB Lat : ${classData.loc_lat}, long : ${classData.loc_lang}`)
          console.log(`Client Lat : ${lat}, long : ${long}`)
          
          if(Math.abs(lat - classData.loc_lat) < marginError && Math.abs(long - classData.loc_lang) < marginError){
            const urlTakeAttendance = `${window.origin}/takeattendance/${classData.id}`;            
            async function takeAttendance() {              
              const response = await fetch(urlTakeAttendance,{method: "POST"});              
              const data = await response.json()
              if(data.response == "Success"){
                flash("Attendance Taken Successfully", "success")
              }else{
                flash(data.response, "danger")                
              }
            }            

            // Trigger The function
            takeAttendance()

          }else{
            flash("Not Same Location, Attendance Is not Taken", "danger")
            console.log("Not Same Location")
            return
          }                              
        }

        // Trigger the function
        getLocation()

      } else if (isSamePerson == "False") { 
        //If Not the same person try again
        flash(`Not Authorized, make sure your face is close to the camera`, "danger")
        return
      }

    }
    // When Capture and submit button Clicked Trigger this function
    checkSamePerson();  


  });

  
 
</script>
{% endblock %}
