{% extends 'base.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block css %}  
{% endblock %}

{% block content %}
<div class="alert alert-warning alert-dismissible fade show" style="margin-top: 5rem;" role="alert">
  Please Make Sure your face is close to the camera
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="takeattendance" style="margin-top: 5rem;">
  <h1>Take Attendance</h1>
  <div class="camera d-flex flex-column align-items-center">
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" class="d-none"></canvas>           
    <button  id="takePicture" type="button" class="btn btn-primary btn-lg px-4 gap-3 mt-2">Capture And Submit</button>
  </div>

</div>  
{% endblock %} 

{% block javascript %}  
<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
<script>
  const webcamElement = document.getElementById('webcam');
  const canvasElement = document.getElementById('canvas');  
  const webcam = new Webcam(webcamElement, 'user', canvasElement);  

  webcam.start()
   .then(result =>{
      console.log("webcam started");
   })
   .catch(err => {
       console.log(err);
   });  

  document.querySelector("#takePicture").addEventListener('click',()=>{
    let picture = webcam.snap();    

    newUrl = `${window.origin}/faceauth`;    

    const data = {picture};

    console.log(data)
    postData(newUrl, data).then((response) => {    
    if (response.data != true) {      
      console.log(response.data)
      alert(response.data)
      // flash(`server says : ${response.data}`,"success")
    } else {
      // flash(`server says : ${response.data}`,"danger")
      return
    }
    }); 
  
  });
    
  // $('#cameraFlip').click(function() {
  //   webcam.flip();
  //   webcam.start();  
  // });  
</script>
{% endblock %} 

