{% extends 'base.html' %} 
{% from "includes/_macros.html" import delBtn, addRowBtn, comboBox %}

{% block title %} {{title}} {% endblock %} 

{% block css %} 
{% endblock %} 

{% macro header(text) %}
  <h1 >{{text}}</h1>
{% endmacro %}

{% block content %}

{{header("Edit users")}}   

<div class="row">
  <div class="col-md-12">      
    <a href="{{url_for('user_edit')}}" class="btn btn-default pull-right add-row text-light bg-success bg-gradient" 
    >New</a>
  </div>
</div> 

<div class="row">
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="col-md-12">
      <table class="table table-bordered" id="editableTable">
        <thead>
          <tr class="bg-secondary text-light">
            <th width="6%">sn</th>            
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Picture</th>
            <th>Notes</th>
            <th width="2%">Edit</th>
            <th width="2%">Del.</th>
          </tr>
        </thead>
        <tbody>
        {% if usersData %}
          {% for row in usersData %}
          <tr>
            <td>
              <input class="form-control" type="text" id="sn" readonly="true" value="{{row.row_num}}">
            </td>
            <td>
              <input type="hidden" name="id" value="{{row.id}}">
              <input class="form-control" type="text" name="name" id="name" value="{{row.name}}" readonly>
            </td>
            <td>
              <input class="form-control" type="text" name="username" id="username" value="{{row.username}}" readonly>
            </td>
            <td>
              <input class="form-control" type="password" name="password" id="password" value="{{row.pwd}}" readonly>
            </td>
            <td>
              <input class="form-control" type="email" name="email" id="email" value="{{row.email}}" readonly>
            </td>    
            <td>
              <input class="form-control" type="text" name="picture" id="picture" value="{{row.picture}}" readonly>
            </td>                             
            <td>
              <input class="form-control" type="text" name="notes" id="notes" value="{{row.notes}}" readonly>
            </td>                         
            <td style="text-align: center;">
              <a class="button button-small edit" href="{{url_for('user_edit', user_id=row.id)}}" title="Edit"
                onclick="">
                <i class="fa fa-edit fa-lg"></i>
              </a>
            </td>
            <td style="text-align: center;">
              <a class="button button-small edit" id="delBtn" href="{{url_for('del_user', userID=row.id)}}" title="delete"
              onclick="delRecord(this)">
                <i class="fa fa-trash fa-lg"></i>
              </a>
            </td>
          </tr>
          {% endfor %}                                      
        {% endif %}
        </tbody>
      </table>      
  </form>
</div>

</div>
{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}